* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.portal-brand {
  margin-left: 15%;
  color: #D2B419 !important;
  font-weight: bold;
}

.custom-nav {
  margin-right: 15%;
}

.carousel-caption {
  bottom: 50%;
  transform: translateY(-50%);
}

.carousel-title {
  margin-bottom: 5px;
}

.carousel-description {
  margin-top: 5px;
}

.carousel-container {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel-image {
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.carousel-image:hover {
  filter: none;
}





